.wholebox {
    width: 80%;
    height: 33px;
    display: flex;
    position: relative
}

.wholebox .agreedbox {
    height: 33px;
    left: 0px;
    background-color: #D6E1FD;
    position: absolute;
}

.wholebox .disagreedbox {
    height: 100%;
    right: 0px;
    background-color: #F5D5E8;
    position: absolute;
}